version: '3.7'
name: table-reservation-service

services:
  spring:
    container_name: spring
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1024M
        reservations:
          cpus: "1.0"
          memory: 1024M
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/table-reservation-service?useSSL=false&allowPublicKeyRetrieval=true&allowMultiQueries=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  mysql:
    image: mysql:8.4
    container_name: mysql
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1024M
        reservations:
          cpus: "1.0"
          memory: 1024M
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: table-reservation-service
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./db/mysql/data:/var/lib/mysql
      - ./db/mysql/init:/docker-entrypoint-initdb.d

  mysql-exporter:
    container_name: mysql-exporter
    image: prom/mysqld-exporter:latest
    depends_on:
      - mysql
    restart: always
    volumes:
      - ./.my.cnf:/.my.cnf
    ports:
      - "9104:9104"
